/* 
~ COPYRIGHT BY MrTiGeR007~
~ OWNER MrTiGeR007  ~
*/

@import url(http://fonts.googleapis.com/css?family=Courgette);

* {
  margin: 0;
  padding: 0;
}

html {
background: url(3.jpg) no-repeat center center fixed ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.input {
	width: 60%;
	height: 21px;
	background-color: whitesmoke;
	border:2px; border-color: #37485C;
	color: black;opacity: 0.6;filter:alpha(opacity=60);
}

.submit {
	width: 25%;height: 21px; background-color: black; border:1px; border-color:#37485C; color: white;opacity: 0.6;filter:alpha(opacity=60);
}

select {
	width: 60%; 
	background-color: whitesmoke; 
	border:1px; border-color: #37485C ; 
	color: black;height:21px;text-align: center;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.navbar {
	width:100%;
	height:50px;
	background-color:black;
	font-size:9px;position:fixed;
	left:0;top:0;opacity: 0.6;
	filter:alpha(opacity=60);
}

.son {
	width:100%;
	background-color:black;position:absolute;
	border-color:white;opacity: 0.6;filter:alpha(opacity=60);
}

a {
	text-decoration: none;
	color: #37485C;
}

a:hover { 
	color: darkgrey }

.ibuton {
	background-color:black;
	color:white; border:0;height:100%;
}

.ibuton:hover {
	background:#B86662;
	background: rgba(184,102,98,.7);
}

.leftx {
	color:white;
	width:30%;
	height:90%;
	top:10%;
	left:10%;
}

.button {
    background-color:#930000;
    border: none;
    border-radius: 30px;
    color: white;
    width: 140px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: "Courgette";
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;;

}

.button:hover {
    background-color: #420101;
    color: #fff;
    border: 1px solid #000000;
}

.css img{
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
margin: 0 10px 5px 0;
}

.css img:hover{
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
box-shadow:0px 0px 30px gray;
-webkit-box-shadow:0px 0px 30px gray;
-moz-box-shadow:0px 0px 30px gray;
opacity: 1;

}
